@import '~bootstrap/scss/bootstrap';

.App {
	.container--app {
		padding-top: 200px;
		background-color: #e8ecef;

		.HomePage {
			margin: auto;

			svg {
				margin: auto;
			}

			button {
				margin: 0 0.5rem;
			}
		}

		@media screen and (max-width: 1200px) {
			padding-top: 50px;
		}
	}
}

.secret-text {
	text-align: center;
	font-size: 2rem;
	color: #fff;
	background-color: #000;
}

.span-secret {
	display: flex;
	justify-content: space-between;
}

.Navbar {
	.nav-link-logout {
		display: inline;

		@media screen and (max-width: 992px) {
			display: block;
		}
	}
}

.Footer {
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
}
