@import '~bootstrap/scss/bootstrap';

.App {
	background-color: #e8ecef;

	.app-container {
		.app-inner-container {
			min-height: calc(100vh - 120px);
			padding-bottom: 2rem;
			padding-top: 10em;

			@media screen and (max-width: 1200px) {
				padding-top: 50px;
			}
		}
	}
}

.secret-text {
	text-align: center;
	font-size: 2rem;
	color: #fff;
	background-color: #000;
}

.span-secret {
	display: flex;
	justify-content: space-between;
}

.Navbar {
	.nav-link-logout {
		display: inline;

		@media screen and (max-width: 992px) {
			display: block;
		}
	}
}

.Footer {
	footer {
		text-align: center;
		margin: 0;
		margin-top: auto;
	}
}
