<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="secret-text">Don't keep your secrets, share them anonymously!</p>

    
    <div class="secret-list">
      <% userSecrets.forEach((secret, i) => { %>
        <form action="/delete/<%=i%>" method="post" class="input-group mb-3">
          <input type="text" class="form-control text-center text-dark" placeholder="<%=secret%>" disabled>
            <div class="input-group-append">
              <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this secret?')">Delete</button>
            </div>
          </input>
        </form>
        <% }) %>
    </div>

    <form action="/submit" method="POST">
      <input type="text" class="form-control text-center mb-3" name="secret" placeholder="What's your secret?">
      <button type="submit" class="btn btn-dark ">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
