<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="secret-text">Don't keep your secrets, share them anonymously!</p>

    
    <div class="secret-list">
      <% userSecrets.forEach((secret, i) => { %>
        <form action="/delete/<%=i%>" method="post">
        <p class="text-center" name="secret" placeholder="What's your secret?">
          <%=secret%>
            <button type="submit" class="btn btn-danger btn-sm text-light" aria-label="Close">Delete</button>
          </p>
        </form>
        <% }) %>
    </div>
    <form action="/submit" method="POST">
      <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
      <button type="submit" class="btn btn-dark button-submit">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
